<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title data-th-text="${titolPagina}">Gestor d'alumnes</title>
    </head>
    <body>

        <h1 data-th-text="${titolPagina}">Gestor d'alumnes</h1>

        <p data-th-text="${missatge}">Benvinguda</p>

        <hr>

        <p>
            Total d'alumnes registrats:
            <strong data-th-text="${totalAlumnes}">0</strong>
        </p>

        <h2>Afegir alumne</h2>

        <form action="/afegir-alumne" method="post" data-th-object="${nuevoAlumno}">
            <label for="nombre">Nom: </label>
            <input type="text" id="nombre" data-th-field="*{nombre}">
            <p
                data-th-if="${#fields.hasErrors('nombre')}"
                data-th-errors="*{nombre}">
                Error en el nom 
            </p>
            <label for="apellido">Cognom:</label>
            <input type="text" id="apellido" data-th-field="*{apellido}">
            
            <p 
                data-th-if="${#fields.hasErrors('apellido')}"
                data-th-errors="*{apellido}">Error en el cognom
            </p>
            
            <label for="fechaNacimiento">Data de naixament:</label>
            <input type="date" id="fechaNacimiento" data-th-field="*{fechaNacimiento}">
            
            <p 
                data-th-if="${#fields.hasErrors('fechaNacimiento')}"
                data-th-errors="*{fechaNacimiento}">Error en la data
            </p>
            
            
            <label for="modalidad">Modalitat:</label>
            <input type="text" id="modalidad" data-th-field="*{modalidad}">
            
             <p 
                data-th-if="${#fields.hasErrors('modalidad')}"
                data-th-errors="*{modalidad}">Error en la modalitat
            </p>
            <label for="profesor">Professor:</label>
            <input type="text" id="profesor" data-th-field="*{profesor}">
             <p 
                data-th-if="${#fields.hasErrors('profesor')}"
                data-th-errors="*{profesor}">Error en el professor
            </p>

            <button type="submit">Afegir</button>

        </form>

        <hr>



        <p>
            Alumnes:   

        </p>

        <ul>
            <li data-th-each="alumne: ${alumnes}">

                <strong data-th-text="${alumne.nombre}">Nom</strong>
                <span data-th-text="${alumne.apellido}">Cognom</span>
                -
                <span data-th-text="${alumne.fechaNacimiento}">Data de naixament</span>
                -
                <span data-th-text="${alumne.modalidad}">Modalitat</span>
                -
                Professor/a:
                <span data-th-text="${alumne.profesor}">Professor</span>

                <form action="/eliminar-alumne" method="post">
                    <input
                        type="hidden"
                        name="id"
                        data-th-value="${alumne.id}">
                    <button type="submit">Eliminar</button> 

                </form>

                <form action="/editar-alumne" method="get">
                    <input type="hidden"
                           name="id"
                           data-th-value="${alumne.id}">
                    <button type="submit">editar</button>


                </form>
            </li>
        </ul>












    </body>
</html>